<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460329129752-9n1gp43tpp32qssurt4i54quo1pca3po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460329129752-9n1gp43tpp32qssurt4i54quo1pca3po</string>
	<key>API_KEY</key>
	<string>AIzaSyDCoiUNMMuEnzJ_08FeYN2xxCGS0u2OtbM</string>
	<key>GCM_SENDER_ID</key>
	<string>460329129752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cninfotech.andelskungen</string>
	<key>PROJECT_ID</key>
	<string>andelskung</string>
	<key>STORAGE_BUCKET</key>
	<string>andelskung.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460329129752:ios:7e8135591ccff20231706d</string>
	<key>DATABASE_URL</key>
	<string>https://andelskung.firebaseio.com</string>
</dict>
</plist>